:root{
  --title: #f17105;
  --title-dark: #e71d36;
  --input: #28affa;
  --text: #054a91;
  --bg: #fff952;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
===========================
      Custom Styles
===========================
*/

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

section {
  margin-bottom: 4rem;
}

h1{
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: var(--title-dark);
}


h2{
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--title-dark);
}

h3{
  font-size: 1.8rem;
  color: var(--title-dark);
}

p{
  color: var(--title);
  font-size: 1.2rem;
}

/*=================
    Question Form
==================*/


input[type="checkbox"]{
  width: 20px;
  height: 20px;
  align-items: flex-start;
}

label{
  font-size: 1.1rem;
  align-items: flex-start;
  color: var(--text);
}

.checkbox-container{
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 1rem;
  justify-content: left;
  padding: 1rem;
}

.checkbox-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.enter-button{
  background-color: var(--input);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}

/*============
    SPACING
=============*/

section{
  padding: 2rem 0;
}
