:root{
  --title: #f9c846;
  --title-dark: #f9c846;
  --text-special: #bc0000;
  --input: #0b0b0b;
  --btn: #bc0000;
  --text: #df0000;
  --bg: #fff;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--text);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*
===========================
      Custom Styles
===========================
*/

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.6;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
}

section {
  margin-bottom: 4rem;
}

h1{
  font-size: 5rem;
  margin-bottom: 0.5rem;
  color: var(--title-dark);
}


h2{
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--title-dark);
}

h3{
  font-size: 1.8rem;
  color: var(--title-dark);
}

p{
  color: var(--text);
  font-size: 1.5rem;
}


/*==================
      Header
===================*/

.app-title{
  font-size: 8rem;
  margin-bottom: 0.5rem;
  color: var(--title-dark);
}


.special-letter{
  color: var(--text-special);
}

.app-title::before{
  content:'';
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 85%;
  background-color: var(--bg);
  z-index: -1;
}
.app-title::after{
  content:'';
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 85%;
  background-color: var(--title);
  z-index: -2;
}



/*=================
    Question Form
==================*/


input[type="checkbox"]{
  width: 20px;
  height: 20px;
  align-items: flex-start;
}

label{
  font-size: 1.1rem;
  align-items: flex-start;
  color: var(--input);
}

.checkbox-container{
  display: grid;
  grid-template-columns: repeat(4, minmax(150px, 1fr));
  gap: 1rem;
  justify-content: left;
  padding: 1rem;
}

.checkbox-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.enter-button{
  background-color: var(--btn);
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 1rem;
}
/*==================
      Result
=================*/
.result{

  font-size: 3rem;
}


/*============
    FOOTER
=============*/

.footer-section{
  text-align: center;
  border-top: 1px solid var(--text);
  margin-top: 6rem;
}

a{
  text-decoration: none;
  color: var(--text-special);
}

a:hover{
  text-decoration: underline;
  cursor: pointer;
}

/*============
    SPACING
=============*/

section{
  padding: 2rem 0;
}
